<!-- Banner -->
<section class="banner {{ .style }}" id="{{ .id }}">
    <div class="content">
        {{ with .title }}<h1><a href="#{{ $.id }}" id="{{ $.id }}">{{ . }}</a></h1>{{ end }}
        {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        <div class="items style3">
            {{ with .buttons }}
                {{ range . }}
                <span class="">
                    <a href="#{{ . }}" class="button smooth-scroll" title="{{ . }} рік">{{ . }}</a>
                </span>
                {{ end }}
            {{ end }}
        </div>
    </div>
    {{ with .image }}<div class="image">
        <img src="{{.}}" alt="{{.}}" />
    </div>{{end}}
</section>
