<!-- Spotlight -->
<section class="spotlight {{ .style }}" id="year{{ .title }}">
    <div class="content">
        {{ with .title }}<h2><a href="#year{{ . }}" id="year{{ . }}">{{ . }}</a></h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        <ul class="actions">
            {{ with .strava_100_activity_id }}<li><a href="https://www.strava.com/activities/{{ . }}" class="button small" target="_blank">Активність учасника</a></li>{{ end }}
            </ul>
        </ul>
    </div>
    {{ with .image }}<div class="image">
        <img src="{{ . }}" alt="{{ . }}" />
    </div>{{ end }}
</section>
