<!-- Spotlight -->
<section class="spotlight {{ .style }}" id="{{ .title }}">
    <div class="content">
        {{ with .title }}<h2><a href="#{{ . }}" id="{{ . }}">{{ . }}</a></h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        <ul class="actions">
            {{ with .strava_100_activity_ids }}
                {{ range . }}<li><a href="https://www.strava.com/activities/{{ . }}" class="button small" target="_blank">Учасник</a></li>{{ end }}
            {{ end }}
            </ul>
        </ul>
    </div>
    {{ with .image }}<div class="image">
        <img src="{{ . }}" alt="{{ . }}" />
    </div>{{ end }}
</section>
