<!-- Spotlight -->
<section class="spotlight {{ .style }}" id="year{{ .title }}">
    <div class="content">
        {{ with .title }}<h2><a href="#year{{ . }}" id="year{{ . }}">{{ . }}</a></h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ $gpx := printf "/gpx/kyivska_sotka_%s.gpx" .title }}
        <!-- Must be an absolute URL for displaying with GPX Studio -->
        <p>
            {{ $url := printf "https://velosotka.github.io%s" $gpx }}
            {{ $url_state := querify "state" (printf "{\"urls\":[\"%s\"]}" $url) }}
            {{ $iframe_url := printf "https://gpx.studio/?%s&embed&distance&controls=false&distanceMarkers=true" $url_state }}
            <iframe title="Маршрут в GPX Studio" {{ printf "src=%q" $iframe_url | safeHTMLAttr }} width="100%" height="400" frameborder="0" allowfullscreen style="border-radius: 12px; overflow: hidden;">
            </iframe>
        </p>
        <ul class="actions">
            {{ with .official_100_route_url }}<li><a href="{{ . }}" class="button small">Офіційний маршрут</a></li>{{ end }}
            <li><a href="https://www.strava.com/routes/{{ .strava_100_route_id }}" class="button small">Strava</a></li>
            <li><a href="{{ $gpx }}" class="button small icon fa-download">GPX</a></li>
            {{ with .strava_50_route_id }}<li><a href="https://www.strava.com/routes/{{ . }}" class="button small">Strava 50 км</a></li>{{ end }}
            {{ with .strava_100_activity_id }}<li><a href="https://www.strava.com/activities/{{ . }}" class="button small" target="_blank">Strava учасника</a></li>{{ end }}
            </ul>
        </ul>
    </div>
    {{ with .image }}<div class="image">
        <img src="{{ . }}" alt="{{ . }}" />
    </div>{{ end }}
</section>
