<!-- Spotlight -->
<section class="spotlight {{ .style }}" id="{{ .title }}">
    <div class="content">
        {{ with .title }}<h2><a href="#{{ . }}" id="{{ . }}">{{ . }}</a></h2>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}

        <ul class="actions fit">
            {{ $gpx100 := printf "/gpx/kyivska_sotka_%s.gpx" .title }}
            {{ with .strava_100_route_url }}
            <li><a href="/routes/{{ $.title }}/" class="button icon fa-eye small smooth-scroll" title="Переглянути маршрут 100 км за {{ $.title }} рік">Глянути</a></li>
            <li><a href="{{ . }}" target="_blank" class="button small icon fa-map" target="_blank" title="Маршрут в Strava 100 км">100</a></li>
            <li><a href="{{ $gpx100 }}" class="button small icon fa-download" title="Завантажити GPX для 100 км">GPX 100</a></li>
            {{ end }}
            {{ $gpx50 := printf "/gpx/kyivska_pivsotka_%s.gpx" .title }}
            {{ with .official_50_route_urL }}
                <li><a href="{{ $.strava_50_route_url }}" target="_blank" class="button small icon fa-map" target="_blank" title="Маршрут в Strava 50 км">50</a></li>
                <li><a href="{{ $gpx50 }}" class="button small icon fa-download" title="Завантажити GPX для 50 км">GPX 50</a></li>
            {{ end }}
            {{ with .strava_100_finisher_urls }}
                {{ range . }}<li><a href="{{ . }}" class="button small icon fa-flag-checkered" target="_blank" title="Активність в Strava фінішера 100 км">Фінішер</a></li>{{ end }}
            {{ end }}
            {{ with .youtube }}<li><a href="{{ . }}" target="_blank" class="button small icon fa-video" target="_blank" title="Запис трансляції події">Запис</a></li>{{ end }}
        </ul>
        {{ with .results_url }}<ul class="actions">
            <li><a href="{{ . }}" target="_blank" class="button small icon fa-people-group smooth-scroll" title="Результати учасників">Результати</a></li>
        </ul>{{ end }}
        <ul class="actions">
            <li><a href="#home" class="button primary small icon fa-home smooth-scroll" title="Вгору">Головна</a></li>
        </ul>
    </div>
    {{ with .image }}<a href="{{ $.image_url }}" target="_blank" class="image">
        <picture>
            <source srcset="{{ replace . ".jpg" ".webp" }}" type="image/webp">
            <img src="{{ . }}" alt="{{ $.image_title }}" title="{{ $.image_title }}" />
        </picture>
    </a>{{ end }}
</section>
