{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "year" site.Data.year2014 }}
	{{ partial "year" site.Data.year2015 }}
	{{ partial "year" site.Data.year2016 }}
	{{ partial "year" site.Data.year2017 }}
	{{ partial "year" site.Data.year2018 }}
	{{ partial "year" site.Data.year2019 }}
	{{ partial "year" site.Data.year2020 }}
	{{ partial "year" site.Data.year2021 }}
	{{ partial "year" site.Data.year2022 }}
	{{ partial "year" site.Data.year2023 }}
	{{ partial "year" site.Data.year2024 }}
	{{ partial "year" site.Data.year2025 }}
	{{ partial "footer" . }}

{{ end }}
